/* ==========================================================================
   Bootstrap Overrides
   ========================================================================== */
/*body { background: #9e9e9e; }*/
/*.jumbotron {background: #3c3c3c; border-bottom: 1px solid #eee;}*/
/* .container2 {background: #ffffff;} */
body {
  background:url('../img/tweed.png');
  background-repeat:repeat;
  font-family: 'open_sansregular';
  margin-top:51px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'open_sanssemibold';
}

em,i { font-family: 'open_sansitalic'; }

.navbar-brand { 
  font-family: 'open_sanssemibold';
  letter-spacing: 1px;
  font-size: 180%;
}

.navbar-inverse .navbar-brand { color: #f0f0f0; }

.main-content { 
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.33);
  /*border-bottom: 1px solid #e6e6e6;*/
}



.navbar-nav > li > .dropdown-menu { width: 236px; }

.nav > li > .dropdown-menu {
  border-bottom: 3px solid #428bca;
}

.nav > li > .dropdown-menu > li > a {
  padding-left: 30px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.btn-option-dropdown > li > a {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.btn-option-dropdown > li > a:hover  {
  padding-left: 30px;
}

.nav > li > .dropdown-menu > li > .inactive-subnav {
  color: rgb(211, 203, 203);
  pointer-events: none; cursor: default;
  padding-left: 30px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.navbar-inverse .navbar-nav> .inactive-nav >a {pointer-events: none; cursor: default; color:#5A5A5A;}

.nav > li > .dropdown-menu > li > a:hover {
  padding-left: 35px;
  border-left: 3px solid #428bca;
  background: rgba(0, 0, 0, 0);

}

.panel-footer {
  background-color: #FFFFFF;
  height: 55px;
}

.container > a, .nav > li > a {
  color: #1d1d1d;
}

.page-header {
  color: #1a1a1a;
  margin-bottom: 1px solid #ececec;
}

.table > thead > tr > th {
  border-bottom: 0px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

.table {
  margin-bottom: 0px;
}



/* ==========================================================================
   Custom Styles
   ========================================================================== */
.ft-box {
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.0);
  box-shadow: 0 0px 0px rgba(0,0,0,.0);
  border: 0px;

}

.ft-box>.caption {
  color: #EEEEEE;
  text-shadow: 1px 3px 5px rgba(22, 22, 22, 1);
}

.ft-divider { border-top: 1px solid #3b3b3b;}

footer { color: #949494;}


/* Box styles */
.box {
	background: #ffffff;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin: 10px 0 10px 0;
}
.box-scroll { overflow: auto; }
.box-header { padding: 8px; border-bottom: 1px solid #ddd; font-weight: bold; }
.box-header-default {background: #eee;}
.box-title-center { text-align: center; }

/* Scorecard styles */
.scorecard-table {
  	border-collapse: collapse;
  	border-style: hidden;
  	margin-bottom: 0px;
}
.scorecard-title { text-align: center; border-bottom: 1px solid #ddd; }
.scorecard-table td, .scorecard-table th { border: 1px solid #ddd; }

/* Custom tables */
.table-borderless {
  	border-collapse: collapse;
  	border-style: hidden;
  	margin-bottom: 0px;
}
.table-borderless td, .table-borderless th { border: 1px solid #ddd; }

.no-top-border th { border-top: 0px;}
.no-inner-border td, .no-inner-border th {border: 0px;}

.center-text {text-align: center;}

/* Button styles */
.tools {margin: 5px 0 5px 0;}

/* Search styles */
.search {padding: 0px;}

/* Measure Profile styles */
.measure-profile {font-size: 13px;}

/* Logo styles */
.opms-logo { position: relative; top: -5px; }

.baseline { border: 0px; background: rgba(0, 0, 0, 0); font-weight: bold;}

.middle { vertical-align: middle;}


.login {
  background: rgba(0, 0, 0, 0.33);
  border-color: #494949;
  color: #f0f0f0;
}

.banner {
  padding-top: 48px;
  overflow: hidden;
  height: 415px;
  background: #fff;
}

.remove-padding {
  padding: 0px;
}

.panel-heading > div > a {
  color: #fff;
}

.notif {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  width: 300px;
  text-align: center;
  background: rgba(41, 41, 41, 0.82);
  border: 1px solid #3D3D3D;
  color: #fff;
  word-wrap: break-word;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.33);
  padding-top: 30px;
  padding-bottom: 30px;
}
.table-actions {
  border-radius: 0;
}

.sub-nav {
  position: relative;
  top: 51px;
  background: #C0DDF6;
  border-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 45px;
  z-index: 2;
}

.scorecard-menu > div > ul > li > a {
  color: #686868;
}

/*.scorecard-menu > div > ul > li > a:hover, .scorecard-menu > div > ul > li > a:focus {
  background: #242424;
}*/
/*.scorecard-menu>div>ul>li>a:hover, .scorecard-menu>div>ul>li>a:focus {
  background: #242424;
  border-radius: 0px;
  border-bottom: 5px solid #242424;
}*/

.scorecard-menu>div>ul>li>a:hover, .scorecard-menu>div>ul>li>a:focus {
  background: #C0DDF6;
  border-radius: 0px;
  border-bottom: 5px solid #428bca;
  color: #686868;
}

/*.scorecard-menu>div>ul>li.active>a:hover, .scorecard-menu>div>ul>li.active>a:focus {
  background: #242424;
}*/

.scorecard-menu>div>ul>li.active>a:hover, .scorecard-menu>div>ul>li.active>a:focus {
  background: #428bca;
}

/*.scorecard-menu>div>ul>li.active>a {
  background: #242424;
  border-radius: 0px;
  border-bottom: 5px solid #428bca;
}*/

.scorecard-menu>div>ul>li.active>a {
  background: #428bca;
  border-radius: 0px;
  border-bottom: 5px solid #428bca;
  color: #ffffff;
  font-weight: bold;
}


.sub-nav2 {
  position: relative;
  top: 0px;
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 0;
  z-index: 1;
}

.table-tools { padding: 10px; /* margin-right: -120px; */}

.laravel-logo { 
  height: auto;
  width: 24px;
}

.table-tools > .form-group {
	margin-bottom: 0px;
}

.status > .head { cursor: pointer; }
.status > .head:hover { text-decoration: underline; }


.status > .body {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 0;
}

.sub-header {
  padding: 12px;
  background: #ECECEC;
  border-bottom: 1px solid #D5D5D5;
}

#measures, #coChampions, #teams { padding-right: 4px; padding-top: 10px; }
.margin-bottom-0 { margin-bottom: 0; }

td {
  word-wrap: break-word;
  /*word-break: break-all;*/
}

.measure-table { table-layout: fixed; }

textarea { resize: vertical; }

.font-12 > thead { font-size: 125%; }

.removeItem { 
  float: right; 
  cursor: pointer;
}

.label-normal { font-weight: normal; }
.narrative { height: 120px !important; }

.indicator-sg { 
  padding-left: 0;
  padding-right: 0;
}

.indicator-formula { margin-bottom: 0px; }

.width-10 { width: 10%; }
.width-20 { width: 20%; }
.width-30 { width: 30%; }
.width-40 { width: 40%; }
.width-50 { width: 50%; }
.width-60 { width: 60%; }
.width-70 { width: 70%; }
.width-80 { width: 80%; }
.width-90 { width: 90%; }
.width-100 { width: 100%; }

/*.buttons {text-align: center;}*/

.indicators > .panel-heading { height: 56px; }
.indicator-formula {
  padding-left: 0px;
  padding-right: 0px;
}

.indicator-formula > .input-group > .input-group-addon { 
  border-right: 0;  
  border-left: 1px solid #428bca;
  border-top: 1px solid #428bca; 
  border-bottom: 1px solid #428bca; 

}

.aggregation {
  border: 1px solid #428bca;
}

.container .jumbotron { 
  padding-left: 0;
  padding-right: 0;
}

.banner { 
  /*margin-bottom: 0;*/
  padding: 0 0 0 0;
  height: auto;
  background:url('../img/light_wool.png');
  background-repeat:repeat;
  
}

.bg {
  /*background: #428bca;*/
  background: rgba(0, 137, 255, 0.33);
  height: auto;
}

.bg > .container {
  padding-left: 0;
  padding-right: 0;
}

.jqs-test {
  padding: 0 5px 0 5px;
  display: block;
  line-height: 1em;
}

/* Thumbnail Item Skin Begin */
/* jssor slider thumbnail navigator skin 04 css */
/*
.jssort04 .p            (normal)
.jssort04 .p:hover      (normal mouseover)
.jssort04 .pav          (active)
.jssort04 .pav:hover    (active mouseover)
.jssort04 .pdn          (mousedown)
*/
.jssort04 .w, .jssort04 .pav:hover .w
{
    position: absolute;
    width: 60px;
    height: 30px;
    border: #0099FF 1px solid;
}
* html .jssort04 .w
{
    width: /**/ 62px;
    height: /**/ 32px;
}
.jssort04 .pdn .w, .jssort04 .pav .w
{
    border-style: solid;
}
.jssort04 .c
{
    width: 62px;
    height: 32px;
    filter: alpha(opacity=45);
    opacity: .45;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}
.jssort04 .p:hover .c, .jssort04 .pav .c
{
    filter: alpha(opacity=0);
    opacity: 0;
}
.jssort04 .p:hover .c
{
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

/* jssor slider arrow navigator skin 05 css */
  /*
  .jssora05l              (normal)
  .jssora05r              (normal)
  .jssora05l:hover        (normal mouseover)
  .jssora05r:hover        (normal mouseover)
  .jssora05ldn            (mousedown)
  .jssora05rdn            (mousedown)
  */
  .jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
  {
    position: absolute;
    cursor: pointer;
    display: block;
      background: url('../vendor/slider.js-master/img/a17.png') no-repeat;
      overflow:hidden;
  }
  .jssora05l { background-position: -10px -40px; }
  .jssora05r { background-position: -70px -40px; }
  .jssora05l:hover { background-position: -130px -40px; }
  .jssora05r:hover { background-position: -190px -40px; }
  .jssora05ldn { background-position: -250px -40px; }
  .jssora05rdn { background-position: -310px -40px; }

  @media print {
    .measure-profile {
      page-break-before: auto;
    }

    .remarks {
      page-break-before: auto;
    }

    .panel { border-radius: 0; }

    .print > .panel-heading {
      display: none !important;
    }

    .print {
      border: 0;
      box-shadow: 0 0;
    }
  }

  .link-black {
    color: #333;
  }

  .link-black:hover {
    color: #000;
  }

.clear{ clear:both; }
.btn-option { margin: 20px 0 10px 0; }
.btn-white {
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}

.btn-white:hover {
  color: #FFF;
  background-color: #CCC;
  border-color: #CCC;
}

#accordion > .panel > .panel-heading:hover { cursor: pointer; }

.table-striped tbody tr.highlight td { 
    background-color: #bce8f1;
}

.hide-button-style {
  background: transparent;
  border-color: transparent;
  box-shadow: 0 0;
}

.hide-button-style > i { color: #999; }

.actions { display: none; }
.show { display: block; }

.table-hover > tbody > tr, .table-select > tbody > tr {
  min-height: 57px; 
  height: 57px;
}
/* Tooltip theme */

.black {
  border-radius: 3px;
  background: #333;
  /*background: rgba(9, 9, 9, 1.0);*/
  color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.black .tooltipster-content {
  font-size: 11px;
  line-height: 10px;
  padding: 4px 5px;
}

.table-hover > tbody > tr:hover> td, .table-hover > tbody > tr:hover > th {
  background-color: #B6DCFF;
}

/*.btn-success,.btn-danger,.btn-warning,.btn-info { text-shadow: 0 1px 0 #fff; }*/

.label-darkgreen { background: #426f45; }

.btn-darkgreen { 
  background-color: hsl(123, 25%, 35%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82b485", endColorstr="#426f45");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#82b485), to(#426f45));
  background-image: -moz-linear-gradient(top, #82b485, #426f45);
  background-image: -ms-linear-gradient(top, #82b485, #426f45);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82b485), color-stop(100%, #426f45));
  background-image: -webkit-linear-gradient(top, #82b485, #426f45);
  background-image: -o-linear-gradient(top, #82b485, #426f45);
  background-image: linear-gradient(#82b485, #426f45);
  border-color: #426f45 #426f45 hsl(123, 25%, 28.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
  -webkit-font-smoothing: antialiased;
} 
 
.btn-darkgreen:hover, 
.btn-darkgreen:focus, 
.btn-darkgreen:active, 
.btn-darkgreen.active, 
.open .dropdown-toggle.btn-darkgreen { 
  color: #ffffff; 
  background-color: #325935; 
  border-color: #426F45; 
} 
 
.btn-darkgreen:active, 
.btn-darkgreen.active, 
.open .dropdown-toggle.btn-darkgreen { 
  background-image: none; 
} 
 
.btn-darkgreen.disabled, 
.btn-darkgreen[disabled], 
fieldset[disabled] .btn-darkgreen, 
.btn-darkgreen.disabled:hover, 
.btn-darkgreen[disabled]:hover, 
fieldset[disabled] .btn-darkgreen:hover, 
.btn-darkgreen.disabled:focus, 
.btn-darkgreen[disabled]:focus, 
fieldset[disabled] .btn-darkgreen:focus, 
.btn-darkgreen.disabled:active, 
.btn-darkgreen[disabled]:active, 
fieldset[disabled] .btn-darkgreen:active, 
.btn-darkgreen.disabled.active, 
.btn-darkgreen[disabled].active, 
fieldset[disabled] .btn-darkgreen.active { 
  background-color: #426F45; 
  border-color: #426F45; 
} 
 
.btn-darkgreen .badge { 
  color: #426F45; 
  background-color: #ffffff; 
}

.panel-footer > span > ul.pagination { margin: 0 0 0 0; }

.note-editor {
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.animated, .form-control, .note-editable > p {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}